{% load static %} {% load i18n %}
<nav class="app-header navbar navbar-expand bg-body">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
          <i class="bi bi-list"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <!-- Language dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-bs-toggle="dropdown" href="#">
          <i class="bi bi-globe"></i>
          <span class="navbar-badge badge text-bg-danger"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <!-- prettier-ignore -->
          {% get_available_languages as available_languages %} 
          {% for lang_code, lang_name in available_languages %}
          <a
            href="{% url 'set_language' lang_code %}"
            class="dropdown-item text-center"
          >
            <h3 class="dropdown-item-title mb-0">{{ lang_name }}</h3>
          </a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-bs-toggle="dropdown" href="#">
          <i class="bi bi-bell-fill"></i>
          <span class="navbar-badge badge text-bg-warning">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <a href="#" class="dropdown-item">
            <i class="bi bi-envelope me-2"></i> 4 new messages
          </a>
        </div>
      </li>
      <li class="nav-item" style="margin-left: -0.5rem">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="bi bi-power"></i>
        </a>
      </li>
      <li class="nav-item dropdown user-menu">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <img
            src="{% static 'assets/img/user3-128x128.jpg' %}"
            class="user-image rounded-circle shadow"
            alt="User Image"
          />
          <span class="d-none d-md-inline"
            >{{ user.name }} {{ user.lastname }}</span
          >
        </a>
      </li>
    </ul>
  </div>
</nav>
